<main class="container">
  <%= link_to "Back", baskets_path %>
  <%= turbo_frame_tag "new_basket" do %>
    <div class="flex items-center justify-center fixed z-40 inset-0 h-full p-6 bg-slate-100"
        data-modal-target="modal"
        data-controller="modal">
      <div class="w-full relative bg-lime-100 shadow-lg rounded-xl border border-slate-400" data-action="keyup@document->modal#escClose click@window->modal#outsideClick">
        <%= render 'form', basket: @basket %>
        <button type="button" data-action="modal#close" class="btn-outline">Close</button>
      </div>
    </div>
  <% end %>
</main>
