<div data-controller="basket-items" id="basket-items" class="flex flex-wrap justify-center md:justify-start">
  <% @basket_items.each do |basket_item| %>
    <%= render basket_item %>
  <% end %>
</div>
<%= render "form", basket_item: @basket_item, baskets: @baskets, items: @items %>
