<style>
  .bob {
    color: "cyan"
  }
</style>

<div class="d-flex align-content-around justify-content-center flex-wrap bg-light">
  <% @basket_items.each do |item| %>
    <%= render partial: "basket_items/small_card", locals: { item: item } %>
  <% end %>
</div>
