<%# if notice  %>
  <%# <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"> %>
    <%#= notice %>
  <%# </p> %>
<%# end %>
<div data-controller="items" id="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</div>
<%= render "form", item: @item %>
<%#= link_to "New item", new_item_path %>
